body {
    font-family: 'Courier New', Courier, monospace;
    background-color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 20px;
}

/* Judul */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Form Group */
.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
    width: 130px;
}

.separator {
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

select {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

/* Radio Button */
.radio-group {
    display: flex;
    gap: 10px;
}

/* Tombol Submit */
input[type="submit"] {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

input[type="submit"]:hover {
    background: #218838;
}

input.error {
    border: 2px solid red;
}


/* Tabel */
table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #218838;
    color: white;
}

/* Tombol Aksi */
button {
    background: #ff9800;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #f57c00;
}

